:8080 {
    reverse_proxy {
        to server:3000  # "server"サービスにスケールされた全インスタンスを自動検出する、ただしDocker Compose環境だとうまく動かない
        lb_policy ip_hash
        header_up Host {host}
        header_up Upgrade {>Upgrade}
        header_up Connection {>Connection}
    }
}
